body
{
  background-color: white;
  font-family: sans-serif;
  max-width: 950px;
  margin: auto;
  padding: 1em;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
html
{
  background-image: url("private/Images/unknown.png");
}

body {
    padding-left:25px;
}